body {
    /* background: red; */
}

h1, h2, h3, h4, h5, h6, .brand-logo {
    font-weight: 300 !important;
}

nav .brand-logo {
    margin-left: 1rem;
}

.font-weight-ultra-black {
    font-weight: 900;
}

.z-depth-3 {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14),  0 1px 8px 0 rgba(0,0,0,0.2) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14),  0 1px 8px 0 rgba(0,0,0,0.2) !important;
}