:root {
    --accent-color: #d7ccc8;
}
h1, h2, h3, h4, h5, h6, .brand-logo {
    font-weight: 300 !important;
}

h1 {
    margin-bottom: 0 !important;
}
h4 {
    margin-top: 0 !important;
}

main.container {
    max-width: 768px;
}

.top-nav {
    box-shadow: 0 4px 7px rgb(128 175 188 / 15%);
}

nav .brand-logo {
    margin-left: 1rem;
}

nav ul a {
    color: black !important;
}

.font-weight-ultra-black {
    font-weight: 900;
}

.z-depth-3 {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14),  0 1px 8px 0 rgba(0,0,0,0.2) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14),  0 1px 8px 0 rgba(0,0,0,0.2) !important;
}

/* checkbox color */
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #d7ccc8 !important;
    background-color: #d7ccc8 !important;
}

.collection-item {
    padding: 0 !important;
}
label {
    color: inherit !important;
    padding: 10px 20px;
}

input[type="text"] + label {
    color: #808984 !important;
}

[type="checkbox"]:checked + span {
    color: #9e9e9e;
    text-decoration: line-through;
}

/* li.collection-item[data="completed: true"] {
    text-decoration: line-through;
    
} */

i.small {
    font-size: 1.6rem !important;
}

i.delete {
    transform: translateY(5%);
    color: #9e9e9e;
}

button.button-delete {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

button.button-delete:focus {
    background: none;
}

li:hover button.button-delete {
    opacity: 1;
}

li.collection-item {
    display: flex;
}

li.collection-item > label {
    flex-grow: 1;
}

/*label color*/
  /* label color */
  .input-field label {
    /* color: var(--accent-color) !important; */
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    /* color: var(--accent-color) !important; */
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--accent-color) !important;
    box-shadow: 0 1px 0 0 var(--accent-color) !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid var(--accent-color) !important;
    box-shadow: 0 1px 0 0 var(--accent-color) !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid var(--accent-color) !important;
    box-shadow: 0 1px 0 0 var(--accent-color) !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: var(--accent-color) !important;
  }